[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HydeNet"]
	path = HydeNet
	url = https://github.com/nutterb/hydenet
[submodule "labelVector"]
	path = labelVector
	url = https://github.com/cran/labelVector
[submodule "lazyWeave"]
	path = lazyWeave
	url = https://github.com/nutterb/lazyweave
[submodule "pixiedust"]
	path = pixiedust
	url = https://github.com/nutterb/pixiedust
