[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "labelVector"]
	path = labelVector
	url = https://github.com/cran/labelVector
[submodule "pixiedust"]
	path = pixiedust
	url = https://github.com/nutterb/pixiedust
